#header-color {
	text-align: center;
	padding: 0px;
	margin-top: 0px;
}
title {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body {
	background-image: linear-gradient(to right, lightgrey, dark);
	border-color: black;
	border-style: double;
	font-size: 10px;
	color: white;
	margin: 0;
}
article {
	width: 80%;
	padding: 1%;
	margin: 1rem 10vw;
	margin-top: 0%;
	background-image: url("/images/dark-black-background-design-with-stripes_1017-38064.webp");
	background-size: cover;
}
footer {
	margin: 1rem 10vw;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgb(34, 47, 73);
	background-image: url("/images/Newyork.jpg");
	color: white;
	font-weight: bolder;
	font-size: 15px;
}
label {
	display: flex;
	width: 90px;
}
.submit {
	color: #c0c3ca;
	font-weight: bolder;
	background-color: #3b4552;
	flood-opacity: 1px;
}
.reset {
	color: #c0c3ca;
	font-weight: bolder;
	background-color: #3b4552;
	flood-opacity: 1px;
}
.linked {
	width: 3%;
	height: 3%;
	margin-top: 10px;
	margin-left: 1%;
	margin-right: 10px;
	filter: grayscale(0%);
}
.linked:hover {
	transform: rotate(360deg);
	filter: hue-rotate(250deg);
	transition: 0.4s;
}
.gmail {
	width: 3%;
	height: 3%;
	margin-top: 1px;
	margin-left: 1%;
	margin-right: auto;
	margin-top: 10px;
	filter: grayscale(0%);
}
.gmail:hover {
	transform: rotate(360deg);
	filter: hue-rotate(250deg);
	transition: 0.4s;
}
.banner-container {
	background-image: url("/images/Newyork.jpg");
	background-size: cover;
	padding: 100px;
	margin-top: 0%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 100%;
	width: 20%;
	border-radius: 50%;
}
img:hover {
	transform: rotate(360deg);
	transition: 0.4s;
}
.nav-link:hover {
	color: #3b4552;
	text-decoration: none;
}
button:hover {
	background-color: rgb(146, 156, 2);
	text-decoration: none;
}
#navbar {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 130%;
	padding: 0.5%;
	position: sticky;
}
.nav-link {
	text-decoration: none;
	color: white;
	margin: 0 2vw;
}
#Education {
	margin-top: 4rem;
}
h2 {
	background-color: black;
	padding-left: 10px;
	color: white;
}

p {
	color: white;
}
h3 {
	color: white;
}
h4 {
	color: white;
}
h1 {
	color: white;
	font-family: arial, helvetica, "sans serif";
	font-size: 20px;
	margin-top: 0px;
	line-height: 75%;
}
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 4.5vw;
	}
	h2 {
		font-size: 4vw;
	}
	h3 {
		font-size: 2.2vw;
	}
	h4 {
		font-size: 2vw;
	}
	.grid-item {
		font-size: 1vw;
	}
	#navbar {
		font-size: 2.2vw;
	}
	.banner-container {
		padding: 5%;
	}
	p {
		font-size: 14px;
		margin: 1rem 1vw;
	}
	ul {
		font-size: 1px;
	}
	footer {
		font-size: 4vw;
		margin: 1rem 0vw;
		padding: 7px;
	}
	textarea {
		font-size: 10px;
		margin: 1rem 0vw;
		padding: 7px;
	}
	}
@media only screen and (max-width: 900px) {
	#navbar {
		font-size: 2vw;
	}
	.banner-container {
		padding: 15%;
	}
}
.grid-item {
	background-color: none;
	padding: 4px;
	font-weight: bolder;
	font-size: 15px;
}
ul {
	color: white;
	font-size: 15px;
}
ol {
	color: white;
	font-size: 15px;
}